.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
  margin-bottom: 40px;
  color: black;
  
}

th {
  background-color:black;
  color: white; 
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;

}

td {
  border: 1px solid #000000;
  padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
  background-color: #7a7a7a;
}